.card {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease !important;
	&:hover {
		transform: scale(1.05);
	}
	:global {
		.icon {
			width: 40px;
			height: 40px;
			margin-bottom: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
		}
	}
}
