@import "shared/styles/variables";

.banner {
	position: relative;
	height: 70vh;
	overflow: hidden;
	:global {
		.banner_text {
			max-width: 50%;
			position: absolute;
			top: 50%;
			@include directed-prop(left, right, 5%);
			transform: translateY(-50%);
		}
	}
}

.banner_img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
	filter: brightness(0.5);
	animation: fadeIn 15s linear infinite alternate;
}

@keyframes fadeIn {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.3);
	}
}
