@import "shared/styles/variables";

.contact {
	:global {
		.info_card {
			padding: 15px;
			.icon_box {
				padding: 8px;
				margin: 0 10px;
				display: flex;
				border-radius: 50%;
				color: white;
				background-color: $primary;
			}
		}
	}
}
