.illustration {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 90vh;
	padding: 20px;
	border-radius: 20px;
	// background-color: #ffffff !important;
	:global {
		.logo {
			width: 70px;
		}
		.illustration__img {
			width: 100%;
		}
	}
}
