.MuiListItem__custom {
	display: block !important;
	padding: 4px 10px !important;
	:global {
		.MuiListItemButton-root {
			min-height: 48px;
			border-radius: 10px !important;
			.MuiListItemIcon-root {
				min-width: 0;
				justify-content: center;
			}
		}
	}
}
