.banner {
	height: 70vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: #0000006e;
	background-blend-mode: multiply;
	:global {
		.MuiBreadcrumbs-root {
			color: white;
		}
		.banner_text {
			position: absolute;
			left: 50%;
			top: 45%;
			transform: translate(-50%, -50%);
			color: white;
		}
	}
}
