@font-face {
	font-family: "Spline Sans Mono";
	src: url("../assets/fonts/SplineSansMono-Regular.woff2") format("woff2"),
		url("../assets/fonts/SplineSansMono-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Spline Sans Mono";
	src: url("../assets/fonts/SplineSansMono-Medium.woff2") format("woff2"),
		url("../assets/fonts/SplineSansMono-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Spline Sans Mono";
	src: url("../assets/fonts/SplineSansMono-Bold.woff2") format("woff2"),
		url("../assets/fonts/SplineSansMono-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Marck Script";
	src: url("../assets/fonts/MarckScript-Regular.woff2") format("woff2"),
		url("../assets/fonts/MarckScript-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
